{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class=" card form-card col-md-8 col-sm-12 mt-3">
            <div class="card-body text-center m-5">
                <!-- Asking for Logout Confirmation -->
                <h3>{% trans "Do you want to sign out?" %}</h3>
                <p class="m-4">
                    {% trans 'If "Yes", you will be signed out and redirected to the home page.' %}
                </p>
                <!-- Confirmation or Cancellation -->
                <div class="text-center m-2">
                    <!-- Logout Form -->
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <!-- Redirect Field, if applicable -->
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                            value="{{ redirect_field_value }}" />
                        {% endif %}

                        <!-- Button to Confirm Logout -->
                        <button class="btn btn-primary m-2"
                            type="submit">{% trans 'Yes, Sign Me Out' %}</button>

                        <!-- Link to Cancel and Return Home -->
                        <a href="{% url 'home' %}"
                            class="btn btn-secondary m-2">No, Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}