<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="games-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'products' %}?category=N_game" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?category=X_game" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=P_game" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?category=X_game,P_game,N_game" class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" href="#" id="consoles-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="consoles-link">
                <a href="{% url 'products' %}?category=N_console" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?category=X_console" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=P_console" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?category=N_console,X_console,P_console" class="dropdown-item">All
                    Consoles</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" aria-current="page"
                href="https://flnaj570-gamers-digest-24a9c682020c.herokuapp.com/">News</a>
        </li>
        <li class="nav-item">
            <a class="text-uppercase font-weight-bold nav-link text-dark mr-5" aria-current="page"
                href="{% url 'message' %}">Contact Us</a>
        </li>
    </ul>
</div>