{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Admin Management</h2>
            <h5 class="text-muted">Add a Game</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_game' %}" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Add game details</button>
                </div>
            </form>
            {% else %}
            <p class=" h4 text-center p-4">Only superusers can create content</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}